# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/
*.log

# Ignore environment-specific files
.env
.env.local

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore editor-specific files
.vscode/
.idea/

# Ignore dependencies lock files
yarn.lock
package-lock.json

# Ignore sensitive or personal files
config.js
secrets.json
